$main-color: #303030;
$text-color: #888888;
$timer-color: #00AA00;

* {
    padding: 0;
    margin: 0;
}


// loop for ring timer animation with same time as specified by user

@for $time from 1 through 60 {
    $seconds: $time * 60;
    .animation-#{$time} {
        animation-name: ring;
        animation-timing-function: linear;
        stroke-dasharray: 1005px;
        stroke-dashoffset: 1005px;
        animation-duration: #{$seconds}s;
        z-index: 100;
    }
}

// keyframes for animation, closing the circle at full time
@keyframes ring {
    100% {
        stroke-dashoffset: 0;
    }
}

// classes to start or pause animation
@each $state in running, paused {
    .#{$state}{
        animation-play-state: #{$state}
    }
}

// class to reset animation (use setTimeout after)
.clear {
    display: none;
}

// button styling
button {
    background-color: inherit;
    border: none;
    color: $text-color;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    text-align: center;
    transition: color 1s;
    padding: 0;
}

button:hover {
    color: $timer-color;
}

button:focus {
    outline: none;
}

.change-btn {
    padding: 4px;
    margin: 3px;
}

body{
    background-color: $main-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

#root {
    height: 100vh;
}
#main-container {
    height: 100%;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: solid 1px white;

    
    #change-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // border: solid 1px white;
        
        .change-component{
            text-align: center;
            
            .controls-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .change-length{
                    width: 35px;
                }
            }
        }
    }
    #main-control {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        #timer-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg {
                height: 400px;
                width: 400px;
                transform: rotate(-90deg);
            }
            #countdown-wrapper {
                position: absolute;
                text-align: center;
                
                #time-left {
                    font-size: 60px;
                }
            }
        }
        #control-button-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
}